@tailwind base;
@tailwind components;
@tailwind utilities;

/* Lato font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,500;0,600;0,700;0,900;1,400;1,700;1,900&display=swap');
.lato-thin {
  font-family: "Lato", system-ui;
  font-weight: 100;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", system-ui;
  font-weight: 500;
  font-style: normal;
}

.lato-semibold {
  font-family: "Lato", system-ui;
  font-weight: 600;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", system-ui;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", system-ui;
  font-weight: 900;
  font-style: normal;
}

.lato-regular-italic {
  font-family: "Lato", system-ui;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", system-ui;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", system-ui;
  font-weight: 900;
  font-style: italic;
}

:root {
  --secondary_white: #ffffff;
  --accent_blue: #2563EB;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --secondary_white: #ffffff;
    --accent_blue: #2563EB;
  }
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
